DATABRICKS_JOB_ID=950007383713274
DATABRICKS_HOST=dbc-77dd6648-56bb.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/71873e4747976257
DATABRICKS_TOKEN=your_databricks_personal_access_token
DATABRICKS_TABLE=duanck.ckcloud.reorder_output
